<br>
<h3>Create a certificate</h3>
<br>
<div>
  <h4>Select the type of certificate</h4>
  <select #select [(ngModel)]="choice" style="width: 30%;">
    <option value="one">ROOT</option>
    <option value="two">PERSON</option>
    <option value="three">APPLICATION</option>
  </select>

  <div [ngSwitch]="choice">
    <form *ngSwitchCase="'one'" [formGroup]="rootForm">
      <input type="text" id="datumIzdavanja" class="fadeIn second" name="datumIzdavanja" placeholder="
Date Of Issue" formControlName="datumIzdavanja"> <br>
      <input type="datumIsteka" id="datumIsteka" class="fadeIn second" name="datumIsteka" placeholder="Expiry Date"
        formControlName="datumIsteka"> <br>
      <input type="nazivOrganizacije" id="nazivOrganizacije" class="fadeIn second" name="nazivOrganizacije"
        placeholder="Name Of Organization" formControlName="nazivOrganizacije"> <br>

      <input (click)="submitRoot()" type="button" class="fadeIn fourth" class="btn btn-secondary" value="Create">
    </form>

    <form *ngSwitchCase="'two'">
      <h1>forma 2</h1>
    </form>

    <form *ngSwitchCase="'three'">
      <h1>forma 3</h1>
    </form>
  </div>


</div>